<!doctype html>
<html ng-app="vogonUiApp">
  <head>
    <title>Vogon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="/static/vogon-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/vogon-ui.css">
  </head>
  <body>
    <div class="container">
      <div ng-controller="VogonUiController">
        <h2>Vogon</h2>

        <h3>Files</h3>
        <div class="row"><div class="col-md-2">Data file</div>
            <div class="col-md-10"> <input type="text" 
                ng-model="config.data_file"> </div></div>
        <div class="row"><div class="col-md-2">Base video file</div>
            <div class="col-md-10"> <input type="text" 
                ng-model="config.video"> </div></div>
        <div class="row"><div class="col-md-2">Generated video file names</div>
        <div class="col-md-10"> <input type="text" 
                ng-model="config.output_video"></div></div>
        <div class="row"><div class="col-md-2">AdWords CSV file name</div>
        <div class="col-md-10"> <input type="text" 
                ng-model="config.adwords.csv_file"></div></div>
        <div class="row"><div class="col-md-2">FFMPEG executable path</div>
        <div class="col-md-10"> <input type="text" 
                ng-model="config.ffmpeg_path"></div></div>

        <h3>Youtube</h3>
        <div class="row"><div class="col-md-2">Video title</div>
            <div class="col-md-10"> <input type="text" 
                ng-model="config.video_title"></div></div>
        <div class="row"><div class="col-md-2">Video description</div>
            <div class="col-md-10"> <input type="text" 
                ng-model="config.video_description"></div></div>

        <h3>AdWords</h3>

        <h4>Campaign</h4>
        <div ng-repeat="(key,value) in config.adwords.campaign track by key">
            <div class="row">
                <div class="col-md-2">{{key}}</div>
                <div class="col-md-10"> <input type="text" 
                    ng-model="config.adwords.campaign[key]"></div>
            </div>
        </div>

        <h4>Ad</h4>
        <div ng-repeat="(key,value) in config.adwords.ad track by key">
            <div class="row">
                <div class="col-md-2">{{key}}</div>
                <div class="col-md-10"> <input type="text" 
                    ng-model="config.adwords.ad[key]"></div>
            </div>
        </div>

        <h3>Video Overlays</h3>

        <h4>Text</h4>
        <div class="row">
            <div class="col-md-1"> Start Time </div>
            <div class="col-md-1"> End Time </div>
            <div class="col-md-1"> X </div>
            <div class="col-md-1"> Y </div>
            <div class="col-md-2"> Text </div>
            <div class="col-md-2"> Font </div>
            <div class="col-md-1"> Font Size </div>
            <div class="col-md-1"> Font Color </div>
        </div>
        <div ng-repeat="line in config.text_lines" class="row">
            <div class="col-md-1">
                <input type="text" ng-model="line.start_time" size="4">
            </div>
            <div class="col-md-1">
                <input type="text" ng-model="line.end_time" size="4">
            </div>
            <div class="col-md-1">
                <input type="text" ng-model="line.x" size="4">
            </div>
            <div class="col-md-1">
                <input type="text" ng-model="line.y" size="4">
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="line.text">
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="line.font">
            </div>
            <div class="col-md-1">
                <input type="text" ng-model="line.font_size" size="4">
            </div>
            <div class="col-md-1">
                <input type="text" ng-model="line.font_color" size="4">
            </div>
            <div class="col-md-2"><input type="button" value="Delete" class="btn-primary" ng-click="delete(config.text_lines, $index)"></div>
        </div>
        <input type="button" value="Add" class="btn-primary" ng-click="addText()">

        <h4>Images</h4>
        <div class="row">
            <div class="col-md-1"> Start Time </div>
            <div class="col-md-1"> End Time </div>
            <div class="col-md-1"> X </div>
            <div class="col-md-1"> Y </div>
            <div class="col-md-2"> Image </div>
        </div>
        <div ng-repeat="line in config.images" class="row">
            <div class="col-md-1">
                <input type="number" ng-model="line.start_time" size="4">
            </div>
            <div class="col-md-1">
                <input type="number" ng-model="line.end_time" size="4">
            </div>
            <div class="col-md-1">
                <input type="number" ng-model="line.x" size="4">
            </div>
            <div class="col-md-1">
                <input type="number" ng-model="line.y" size="4">
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="line.image">
            </div>
            <div class="col-md-2"><input type="button" value="Delete" class="btn-primary" ng-click="delete(config.images, $index)"></div>
        </div>
        <div class="row">
            <div class="col-md-2"><input type="button" value="Add" class="btn-primary" ng-click="addImage()"></div>
        </div>
        
        <div class="row" style="padding-top:50px;padding-bottom:50px">
            <div class="col-md-2"><input type="button" value="Save" class="btn-primary" style="width:100px" ng-click="saveConfig()"></div>
        </div>

        <textarea id="debugData" style="display:none" ng-model="getConfig()"></textarea>

        </div>
      </div>
  </body>
</html>
